@model List<Student_Information_System.Models.StudentsViewModel>

@{
	ViewData["Title"] = "Student Details";
}
<h3>ViewData["Title"]</h3>
<hr />
<form>
	<button asp-action="Create" adp-controller="students" class="btn btn-primary">Create Student</button>
	<table class="table table-responsive table-hover">
		<thead>
			<tr class="table-active">
				<th>Id</th>
				<th>Name</th>
				<th>Date Of Birth</th>
				<th>E-mail</th>
				<th>GPA</th>
				<th>Actions</th>
				
			</tr>
		</thead>
		<tbody>
			@if (Model != null && Model.Any())
			{
				@foreach (var students in Model)
				{
					<tr>
						<td>@students.Id</td>
						<td>@students.FullName</td>
						<td>@students.Email</td>
						<td>@students.BirthDate</td>
						
						@*<td>@students.GPA</td>*@
						<td>
							<a asp-controller="students" asp-action="Edit" asp-route-id="@students.Id" class="btn btn-primary">Edit"</a>						
							<a asp-controller="students" asp-action="Delete" asp-route-id="@students.Id" class="btn btn-danger">Delete"</a>
							
						</td>
					</tr>
				}
			}
			else
			{
				<tr>
					<td colspan="6">No Students Found</td>
				</tr>
			}
		</tbody>
	</table>
</form>