@model TestProject.Models.EmployeeModel
@{
    ViewData["Title"] = "Student View Page";
}

@*BU SAYFADA ÖĞRENCİ LİSTELEME VE DÜZENLEME İŞLMELERİ YAPILACAK*@

<table @*border="1"*@ class="table table-bordered w-100">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">NAME</th>
            <th scope="col">LASTNAME</th>
            <th scope="col">DEPARTMENT</th>
            <th scope="col">EMAİL</th>
            <th scope="col">ADDRESS</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.EmplDetailList)
        {
            <tr>
                <th>@item.Id</th>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Department</td>
                <td>@item.Email</td>
                <td>@item.Adress</td>

            </tr>
        }
    </tbody>
</table>
