@model TestProject.Models.EmployeeModel
@{
    ViewData["Title"] = "Home Page";
}
<table  @*border="1"*@ class="table w-100">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">NAME</th>
            <th scope="col">LASTNAME</th>
            <th scope="col">DEPARTMENT</th>
            <th scope="col">EMAİL</th>
            <th scope="col">ADDRESS</th>
            @*<th>PHONE ????? </th>           
            <th>BİRTH DATE</th>
            <th>GENDER</th>
            *@

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.EmplDetailList)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Department</td>
                <td>@item.Email</td>
                <td>@item.Adress</td>
                @*<td>@item.PhoneNumber ?????</td>*@
                @*                
                <td>@item.BirthDate</td>
                <td>@item.Gender</td>
                *@
            </tr>
        }
    </tbody>
</table>
