
@model TestProject.Models.StudentModel

@{
    ViewData["Title"] = "Student Page";
}

<h2> List of Students</h2>

<a class="btn btn-primary btn-sm mt-2 mb-3 p-2" asp-area="" asp-controller="Home" asp-action="Create"> New Student Modal </a>

<table @*border="1"*@ class="table table-bordered table-responsive w-100">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">NUMBER</th>
            <th scope="col">NAME</th>
            <th scope="col">LASTNAME</th>
            <th scope="col">GENDER</th>
            <th scope="col">DEPARTMENT</th>
            <th scope="col">ADDRESS</th>
            <th scope="col">PHONE</th>
            <th scope="col">BIRTH DATE</th>
            <th scope="col">REGISTRATION DATE</th>
            <th scope="col">I.N.</th>
            <th scope="col">ACTION</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.EmplDetailList)
        {
            <tr>
                <th>@item.Id</th>
                <th>@item.StudentNo</th>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Gender</td>
                <td>@item.Department</td>
                <td>@item.Adress</td>
                <td>@item.PhoneNumber</td>
                <td>@item.BirthDate</td>
                <td>@item.RegistrationDate</td>
                <td>@item.IdentificationNumber</td>
                <td class="d-grid">
                    <a class="btn btn-primary btn-sm m-1"> Edit </a>
                    <a class="btn btn-danger btn-sm m-1"> Delete </a>
                </td>
            </tr>
        }
    </tbody>
</table>

